[Desktop Entry]
Version={{Version}}
Name=Venera
GenericName=Venera
Comment=venera
Terminal=false
Type=Application
Categories=Utility
Keywords=Flutter;comic;images;