[Desktop Entry]
Name=Venera
GenericName=Venera
Comment=venera
Terminal=false
Type=Application
Categories=Utility
Keywords=Flutter;comic;images;
Icon=venera